<div id="#modal" class="modal" draggable="true">
    <div class="header" id="header">
        <span class="address">
        </span>
        <button class="modal_close">
            <img src="src/close.png" class="img_close">
        </button>
    </div>
    <div class="feedbacks"></div>
    <div class="modal_body">
        <h3>ВАШ ОТЗЫВ</h3>
        <form>
            <input name="name" id="name" placeholder="Ваше имя" type="text" required>
            <input name="place" id="place" placeholder="Укажите место" type="text" required>
            <textarea name="feedback" id="feedback" placeholder="Поделитесь впечатлениями" required></textarea>
            <button type="button" class="button" id="add_button">Добавить</button>
        </form>
    </div>
</div>
